<div class="layout">
    <div class="row">
        <div class="col-xl-4 col-lg-5 col-md-6 col-12">
            <h3 class="price">
                $32
            </h3>
            <h2 class="name">
                Green Goddess Chicken Salad
            </h2>
            <p class="description">
                It is a non vegetarian salad which consists of the green goddess dressing mixed with chicken, peppers,
                olives and celery.
            </p>
            <button class="order" type="button">
                ORDER NOW
            </button>
        </div>

        <div class="col-xl-8 col-lg-7 col-md-6 col-12">
            <div id="spin" class="spin image image-1x1">
                    <img alt="circle" src="/img/circle.png" />
                <div class="item absolute-full">
                    <div class="absolute-full">
                        <div class="item-1 circle">
                            <div class="image image-1x1">
                                <img alt="item" src="https://picsum.photos/500" />
                            </div>
                        </div>
                    </div>
                    {{!-- <div class="item item-2">
                        <div class="image image-1x1">
                            <img alt="item" src="https://picsum.photos/500" />
                        </div>
                    </div>
                    <div class="item item-3">
                        <div class="image image-1x1">
                            <img alt="item" src="https://picsum.photos/500" />
                        </div>
                    </div>
                    <div class="item item-4">
                        <div class="image image-1x1">
                            <img alt="item" src="https://picsum.photos/500" />
                        </div>
                    </div>
                    <div class="item item-5">
                        <div class="image image-1x1">
                            <img alt="item" src="https://picsum.photos/500" />
                        </div>
                    </div> --}}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        console.log(123)
        const spin = document.getElementById('spin');
        console.log(spin);
    })
</script>